

.couleur{
    background-color: #004b8f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner {
    background-image:linear-gradient(rgba(0, 0, 255, 0.114), rgba(255, 247, 0, 0.057)), url(image/album-paris-copy-min.png);
    background-size: cover;     
    background-position: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    opacity: 0.8;
}


.banner h1 {
    color: white;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 2;
    margin-bottom: 200px;
  }

  .banner h2 {
    color: white;
    font-weight: lighter;
	opacity: 2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;

  }

.h2 {

    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.h3{
    font-size: 25px;
}




.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
    background-color: rgb(17, 23, 101);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


.experience-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-between;
}

.experience-card {
    width: calc(33.33% - 20px); 
    margin: 10px 0;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box; 
    max-width: 100%; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
}

@media (max-width: 1024px) {
    .banner h1 {
        font-size: 40px;
    }
    .banner h2 {
        font-size: 25px;
    }
    .experience-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .banner h1 {
        font-size: 30px;
    }
    .banner h2 {
        font-size: 20px;
    }
    .experience-container {
        flex-direction: column;
        align-items: center;
    }
    .experience-card {
        width: 100%;
    }
}
